@font-face {
    font-family: 'logo-font';
    src: url('/assets/Lavalette-demo.ttf') format('truetype');
}

@font-face {
    font-family: 'number-thin-font';
    src: url('/assets/Adequate-ExtraLight.ttf') format('truetype');
}

.header-logo-container {
    text-align: left;
}

.contact-us {
    text-align: center;
    background-color: #1e1e27;
    color: #969595;
}

header {
    box-shadow: 0px 2px 4px #d8d8d8;
    position: relative;
}

.header-logo-container .header {
    display: inline-block;
    font-family: 'logo-font';
    font-size: 18px;
    letter-spacing: 2px;
    padding: 30px;
}

.header-logo-container .cart {
    float: right;
    padding: 30px;
}

.header-logo-container .cart .link {
    margin: 0px 20px;
}

.contact-us .email,
.contact-us .phone {
    display: inline-block;
    margin: 8px 10px;
    font-size: 16px;
    letter-spacing: 0.5pt;
}

.contact-us .email .fa,
.contact-us .phone .fa {
    font-size: 16px;
}

.footer-logo-container {
    padding-top: 50px;
    height: 150px;
    background-color: #e8e8e8;
}

.custom-container {
    position: relative;
}

.custom-badge {
    width: 20px;
    height: 20px;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 14px;
    position: absolute;
    padding: 0px 6px;
    background-color: #f31e1e;
    color: #fff;
}

.custom-badge.right-top {
    top: -10px;
    right: -21px;
}