<header>
    <div class="contact-us">
        <div class="email">
            <i class="fa fa-envelope"></i> Email : gu3x7o717ca5wg3ili.ga
        </div>
        <div class="phone">
            <i class="fa fa-phone"></i> Call us : 4444999944
        </div>
    </div>
    <div class="header-logo-container">
        <div class="header">
            <a [routerLink]="['/']">FASHION STORE .</a>
        </div>
        <div class="cart">
            <a class="link" [routerLink]="['/']">HOME</a>
            <a class="link">LATEST</a>
            <a class="link">PRODUCT</a>
            <a class="link custom-container" [routerLink]="['/cart']"><i class="fa fa-shopping-cart"></i><span *ngIf="items().length>0" class="custom-badge right-top">{{items().length}}</span></a>
        </div>
    </div>
</header>
<router-outlet>
</router-outlet>
<footer class="footer-logo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>